<ion-view view-title="">
    <ion-scroll zooming="false" direction="y" class="challenge">
        <div class="challenge-img">
            <img ng-src="img/{{challenge.logo}}" alt="{{challenge.headline}}" />
        </div>
        <div class="progress-box" ng-if="challenge.active">
            <div class="progress">
                <div class="round-progress"
                    round-progress
                    max="pts_total"
                    current="pts_done"
                    color="#fb9490"
                    bgcolor="#f2f1f1"
                    radius="70"
                    semi="false"
                    rounded="true"
                    stroke="5"
                    clockwise="true"
                    responsive="false"
                    duration="3000"
                    animation="easeOutCubic"
                    offset="0">
                </div>
            </div>
            <div class="points">
                <span class="done">{{pts_done}}</span>
                <span class="total">/ {{pts_total}}</span>
                <span class="desc">Points</span>
            </div>
        </div>
        <h1 class="title">{{challenge.headline}}</h1>
        <hr class="bar red-bar"/>
        <span id="desc" class="challenge-desc">{{challenge.desc}}</span>
        <hr class="bar gray-bar" />
        <span class="info" ng-click="showlongdesc = !showlongdesc">more info</span>
        <span id="longdesc" ng-if="showlongdesc">{{challenge.longdesc}}</span>
        <div id="box-status" ng-if="challenge.active" >
            <hr class="bar gray-bar"/>
            <span class="status">{{status}}</span>
        </div>
        <div class="gray-box">
            <ion-list class="days" ng-if="challenge.active && showdays">
              <ion-item ng-repeat="day in challenge.days" class="day">
                <img src="./img/right.svg" alt="OK" ng-if="day.done" ng-click="unplay(day)" />
                <img src="./img/wrong.svg" alt="Waiting" ng-if="!day.done" ng-click="play(day, $event)" />
                <span class="bold" ng-click="play(day, $event)">Day {{day.id}}</span><br />
                <span ng-click="play(day, $event)">{{day.points}} Points</span>
              </ion-item>
            </ion-list>
            <div class="challenge-buttons">
                <img src="./img/right.svg" alt="Start Challenge" ng-click="start()" ng-if="!challenge.active" />
                <img src="./img/wrong.svg" alt="Skip Challenge" ng-click="skip()" ng-click="skip()" ng-if="!challenge.active" ng-disabled="challenge.skipped" />
            </div>
        </div>
        <button class="button button-outline button-balanced" ng-click="done()" ng-if="((challenge.active)&&(!challenge.done))">
            Done
        </button>
        <button class="button button-outline button-cancel" ng-click="cancel()" ng-if="((challenge.active)&&(!challenge.done))">
            Cancel
        </button>
        <div class="challenge-footer">
            <span><i class="icon ion-ios-flag"></i> Package {{currentpackage}}</span> | 
            <span><i class="icon ion-connection-bars"></i> Challenges {{challenge.id}}</span> | 
            <span><i class="icon ion-ios-calendar-outline"></i>{{days}}</span>
        </div>
    </ion-scroll>
</ion-view>