<ion-view>
<ion-slide-box class="has-header" on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <ion-view class="main-container" view-title="MAIN">
        <ion-list class="challenge-list">

        <div class="topdiv nospace">
            <div class="row full-cover">
                <div class="col col-bottom" style="margin-left:29vw;">
                    <lg-circle circle="lgCircle"></lg-circle>
                </div>
            </div>
        </div>
        <div class="row middiv nospace">
            <div class="col col-center" style="text-align:center;">
                <h3>Hi {{username}}</h3>
                <p>{{greetingMessage}}</p>
                <button class="button button-custom" >current challenges</button>
            </div>
        </div>
        <div class="row bottomdiv nospace">
            <div class="col col-center" ng-repeat="circle in smCircles">
                <sm-circle circle="circle"></sm-circle>
            </div>
        </div>
        
    </ion-list>
    </ion-view>
      
  </ion-slide>

  <!--package slider-->
  <ion-slide>
    <ion-view class="main-container" view-title="Packages">
      <ion-scroll zooming="false" direction="y" class="chalenge">
        <ion-list class="challenge-list">
          <div class="menu-div" ng-repeat="package in packages"
               ng-click="go('/app/package/{{$index}}')"
               style="background-color: {{package.color}}">
              <img ng-src="./img/{{package.logo}}" alt="{{package.name}}">
              <h2 class="challenge-heading">{{package.name}}</h2>
          </div>
        </ion-list>
      </ion-scroll>
    </ion-view>
  </ion-slide>
  <!--end package slider-->

  <ion-slide>
    <ion-view class="main-container" view-title="Challenges">
      <ion-scroll zooming="false" direction="y" class="chalenge">
        <ion-list class="challenge-list">
          <div class="card challenge-item" ng-repeat="path in paths" ng-click="go('/app/challenge/{{$index}}')">
            <h2 class="challenge-heading">{{path.headline}}</h2>
            <img ng-src="./img/{{path.logo}}" alt="{{path.headline}}">
            <p class="subline-blue">{{path.subline}}</p>
            <div class="horizontal-line"></div>
            <button class="button-{{path.btn}}"></button>
          </div>
        </ion-list>
      </ion-scroll>
    </ion-view>

  </ion-slide>


</ion-slide-box>
</ion-view>