<ion-slide-box on-slide-changed="slideHasChanged($index)">
    <ion-slide>
        <ion-view id="intro1" cache-view="false">
            <ion-scroll zooming="false" direction="y">
                <img src="./img/phone.png" alt="" id="intro-phone" />
                <div class="intro-text">
                    <h1>Welcome</h1>
                    <p>
                        The most individualized and dynamic fitness program on the planet.<br />
                        Get your personalized<br /> training plan with Mindsome.
                    </p>
                </div>
            </ion-scroll>
        </ion-view>
    </ion-slide>
    <ion-slide>
        <ion-view id="intro2" cache-view="false">
            <div id="intro-img-container">
                <img src="./img/bg-intro.png" alt="" id="intro-img" />
            </div>
            <div class="intro-text">
                <h1>Welcome</h1>
                <p>
                    The most individualized and dynamic fitness program on the planet.<br />
                    Get your personalized<br /> training plan with Mindsome.
                </p>
            </div>
            <button class="button button-outline button-green" ng-click="start()">
                Go!
            </button>
        </ion-view>
    </ion-slide>
</ion-slide-box>