<ion-side-menus enable-menu-with-back-views="false" id="menu">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">

        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i> Back
        </ion-nav-back-button>



      <ion-nav-buttons side="left">
        <button class="button button-icon button-stable button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
        <h1 class="title" style="min-width:100%;">Menu</h1>
        </ion-header-bar>
        <ion-content class="menu-content">
            <div class="menu-header">
                    <img src="img/Logo SVG.svg">
                    <h1>{{username}}</h1>
            </div>
            <ion-list>
                <ion-item class="item-icon-right" menu-close ng-click="login()">
                    PROFILE<i class="icon ion-ios-arrow-right"></i>
                </ion-item>
                <ion-item class="item-icon-right" menu-close href="#/app/search">
                    SYNCHRONISATION<i class="icon ion-ios-arrow-right"></i>
                </ion-item>
                <ion-item class="item-icon-right" menu-close href="#/app/browse">
                    BENACHRICTIGUNGEN<i class="icon ion-ios-arrow-right"></i>
                </ion-item>
                <ion-item class="item-icon-right" menu-close href="#/app/playlists">
                    CONNECT<i class="icon ion-ios-arrow-right"></i>
                </ion-item>
            </ion-list>
            <div class="menu-footer">
                <button class="button button-block" style="" ng-click="">sign out</button>
            </div>
        </ion-content>
  </ion-side-menu>
</ion-side-menus>