<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{modal.title}}</h1>
    </ion-header-bar>
    <ion-content class="modal-content">
        <div class="text">
            {{modal.text}}
        </div>
      <button class="button button-green" ng-click="closeModal()">OK</button>
    </ion-content>
</ion-modal-view>