<ion-view class="main-container" view-title="Browse">
  <ion-scroll zooming="false" direction="y" style="width: 100%;">
    <ul class="challenge-list">
      <li class="card challenge-item media-item" ng-repeat="path in paths" ng-click="openChallenge({{selectedPackage}}, {{$index}})">
        <div ng-class="(path.enabled?'':'challenge-disabled')">
            <h2 class="challenge-heading">{{path.headline}}</h2>
            <img ng-src="./img/{{path.logo}}" alt="{{path.headline}}">
            <p class="subline-blue">{{ path.subline }}</p>
            <div class="horizontal-line"></div>
            <button ng-class="(path.done?'button-tick':'button-cross')"></button>
        </div>
      </li>
    </ul>
  </ion-scroll>
</ion-view>