<ion-popover-view class="popover-share">
    <ion-content>
        <h1>Share your success</h1>
        <h2>Where do you want to<br />share your success?</h2>
        <div id="share-buttons">
            <button class="button button-full button-outline facebook">
                Facebook
            </button>
            <button class="button button-full button-outline twitter">
                Twitter
            </button>
            <button class="button button-full button-outline google">
                Google +
            </button>
            <button class="button button-full button-outline instagram">
                Instagram
            </button>
            <button class="button button-full button-outline linkedin">
                Linkedin
            </button>
        </div>
        <button class="button button-outline button-cancel" ng-click="closePopover()">
            Close
        </button>
    </ion-content>
</ion-popover-view>