<ion-view view-title="Mindsome" id="start">
    <ion-scroll zooming="false" direction="y">
        <img src="./img/logo.png" alt="Mindsome" id="logo" />
        <div id="start-buttons">
            <button class="button button-outline button-login" ng-click="intro()">
                login
            </button>
            <button class="button button-outline button-signup" ng-click="intro()">
                sign up
            </button>
            <button class="button button-outline button-facebook" ng-click="intro()">
                connect to facebook
            </button>
            <button class="button button-outline button-later" ng-click="intro()">
                sign up later
            </button>
        </div>
    </ion-scroll>
</ion-view>