body{
    font-family:'Exo2Regular', sans-serif;
    color:#999 !important;
}
/***********************
 * Start
 ***********************/
#start{
    padding-top:151px;
    text-align:center;
    background-image:url('../img/bg.png');
    background-repeat:no-repeat;
    background-position:50% 0;
}
#logo{
    clear:both;
    display:block;
    margin:auto;
}
#start-buttons{
    margin:auto;
    margin-top:161px;
    width:293px;
}
#start-buttons .button, #intro2 .button{
    width:138px;
    font-family:'Exo2Medium', sans-serif;
    font-size:0.9em !important;
}
#start-buttons .button{
    float:left;
}
#start-buttons .button.activated{
    background-color:#72c6aa !important;
    color:#fff;
}
#start-buttons .button-login{
    margin-right:15px;
}
#start-buttons .button-facebook{
    margin:auto;
    margin-top:11px;
    clear:both;
    display:block;
    width:100%;
    padding-left:30px;
    border:1px solid #5f6a9e;
    background-image:url('../img/facebook.png');
    background-repeat:no-repeat;
    background-position:29% 50%;
    color:#5f6a9e;
}
#start-buttons .button-later{
    margin:auto 0;
    clear:both;
    display:block;
    width:100%;
    border:none;
    color:#72c6aa;
}
#start-buttons .button-later.activated{
    background-color:transparent !important;
    color:#0a0;
}

/***********************
 * Intro (Slide)
 ***********************/
#intro1{
    padding-top:48px;
    text-align:center;
    background-repeat:no-repeat;
    background-position:50% -22px;
}
#intro-phone{
    padding-bottom:0px;
    margin-bottom:42px;
}
.intro-text{
    margin:auto;
    padding:0;
    margin-top:28px;
    width:220px;
}
.intro-text h1{
    margin-top:-10px; !important;
    color:#72c6aa;
    font-family:'Exo2Semibold', sans-serif;
    font-size:1.7em;
    margin-bottom:19px;
}
.intro-text p{
    font-family:'Exo2Medium', sans-serif;
    font-size:0.85em !important;
    line-height:15px;
}
#intro2{
    text-align:center;
    background-repeat:no-repeat;
    background-position:50% -22px;
}
#intro-img-container{
    padding:0px;
    margin-bottom:42px;
    height:356px;
    max-height:50%;
    width:100%;
    overflow:hidden;
}
#intro-img-container img{
    padding:0px;
    width:100%;
}