/*@import url(https://fonts.googleapis.com/css?family=Exo+2);*/

/***********************
 * Local Fonts
 ***********************/
@font-face {
    font-family: 'Exo2Regular';
    src: url('fonts/exo2-regular.ttf');
}
@font-face {
    font-family: 'Exo2Medium';
    src: url('fonts/exo2-medium.ttf');
}
@font-face {
    font-family: 'Exo2Bold';
    src: url('fonts/exo2-bold.ttf');
}
@font-face {
    font-family: 'Exo2Semibold';
    src: url('fonts/exo2-semibold.ttf');
}

body{
    font-family:'Exo2Regular', sans-serif;
    color:#999 !important;
}

/***********************
 * Header
 ***********************/
.bar-stable, .bar-header{
    background-color:#fff !important;
}
.title.title-center{
    font-family:'Exo2Semibold', sans-serif;
    color:#999 !important;
}
.button.ion-usb2{
    background-image:url('../img/usb.svg') !important;
    background-repeat:no-repeat !important;
    background-position:0% 50% !important;
    width:32px;
    height:16px;
}

/***********************
 * Home
 ***********************/
.slider{
    position: absolute !important;
    width: 100%;
    height: 100% !important;
}
/***********************
 * Challenge
 ***********************/

.main-container {
    background: #eeeeed;
}

.challenge-list {
    margin-top: 70px;
}

.challenge-item {
    text-align: center;
    border-radius: 5px;
    width: 65%;
    padding: 10%;
    margin: 30px auto;
    background: #fff;
    border: #e9e9e8;
}

.challenge-disabled {
    background-color:rgba(255, 255, 255, 0.5) !important;
    opacity: 0.4;
}

.challenge-heading {
    font-family: Helvetica;
    color: #b3b2b2;
    font-size: 120%;
    margin-bottom: 20px;
    font-family: 'Exo 2', sans-serif;
}

.challenge-item img {
    width: 80%;
    height: auto;
}

.challenge-list li:nth-child(odd) p {
    color: #a6bbe2;
    font-size: 140%;
    font-weight: bold;
    padding: 15px 0px;
    font-family: 'Exo 2', sans-serif;
}

.challenge-list li:nth-child(even) p {
    color: #f5aca6;
    font-size: 140%;
    font-weight: bold;
    padding: 15px 0px;
    font-family: 'Exo 2', sans-serif;
}

.horizontal-line {
    width: 40%;
    height: 3px;
    margin: 0px auto;
    background: #e9e9e8;
    position: relative;
}

.button-tick {
    background: url(../img/tick.svg);
    position: relative;
    height: 45px;
    width: 45px;
    border: none;
    background-size: contain;
    margin: 20px 0px;
}

.button-cross {
    background: url(../img/cross.svg);
    position: relative;
    height: 45px;
    width: 45px;
    border: none;
    background-size: contain;
    margin: 20px 0px;
}


.challenge{
    text-align:center;
    height:100%;
    
}
.challenge-img{
    position:relative;
    overflow:hidden;
    
    padding-top:20px;
    vertical-align: middle;
    text-align: center;
    height:202px;
    margin-bottom:25px;
    margin-top: 44px;
}
.challenge-img img{
    position:relative;
    vertical-align: middle;
    width: 80%;
    height: auto;
    max-height:155px;
}
.challenge .button{
    width:100px;
}

.progress-box{
    position:relative;
    background-color:#f2f1f1;
    border-radius:153px;
    color:#fb9490;
    vertical-align: middle;
    overflow:hidden;
    width:153px;
    height:153px;
    margin:20px auto;
    padding-top:62px !important;
}
.progress{
    position:absolute !important;
    top:6px !important;
    left:6px;
}
.progress-box .points{
    position:relative;
}
.progress-box .points .done{
    font-family:'Exo2Semibold', sans-serif;
    font-size:2.6em;
}
.progress-box .points .total{
    font-family:'Exo2Bold', sans-serif;
    font-size:1.3em;
}
.progress-box .points .desc{
    font-family:'Exo2Semibold', sans-serif;
    font-size:1em;
    clear:both;
    display:block;
}

h1.title{
    font-family:'Exo2Semibold', sans-serif;
    font-size:2.6em;
    color:#fb9490;
    line-height:26px;
    line-height:35px;
    margin:10px auto;
}
span.challenge-desc{
    display:block;
    position:relative;
    width:60%;
    margin:auto;
}
hr.bar{
    display:block;
    position:relative;
    border:none !important;
    width:83px;
    height:2px !important;
    padding:0 !important;
    margin:10px auto;
}
hr.gray-bar{
    color:#999;
    background-color:#999;
}
hr.red-bar{
    color:#fb9490;
    background-color:#fb9490;
    margin:20px auto;
}
span.status,span.info{
    font-family:'Exo2Semibold', sans-serif;
    display:block;
}
span.info:hover{
    text-decoration:underline;
    cursor:pointer;
}
.days,.gray-box{
    position:relative;
    display:block;
    overflow:hidden;
    background-color:#eaeae4 !important;
    width:100% !important;
    min-height:182px;
    margin-top:20px;
    padding:20px 0;
}
.day{
    width:33.3%;
    float:left;
    text-align:center;
    border:none;
    background-color:#eaeae4 !important;
    color:#999 !important;
    padding:0;
    margin:15px 0;
    height:109px;
}
.day img,.challenge-buttons img{
    width:50px;
    height:50px;
    margin:auto;
    margin-bottom:18px;
}
.day img{
    display:block;
    clear:both;
}
.challenge-buttons{
    margin-top:40px;
}
.challenge-buttons img{
    margin:auto 20px; 
}
.day span.bold{
    font-family:'Exo2Semibold', sans-serif;
}
.challenge .button{
    font-family:'Exo2Medium', sans-serif;
    border-radius:5px;
    height:41px;
    margin:26px auto;
}
.button.button-cancel{
    color:#fb9490;
    border:1px solid #fb9490;
}
.button.button-cancel.activated{
    background-color:#fb9490 !important;
    color:#fff;
}
.button-green{
    border-color:#72c6aa !important;
    margin-top:16px;
    background-color:#72c6aa !important;
    color:#fff !important;
}
.button-green.activated{
    border-color:#72c6aa !important;
    background-color:#fff !important;
    color:#72c6aa !important;
}
.challenge-footer{
    color:#7bc7c4;
    margin-top:30px;
}
.challenge-footer span{
    margin:5px;
    font-size:1.1em;
}
.challenge-footer span i{
    margin:5px;
}

.modal-content{
    text-align:center;
    vertical-align: middle;
}
.modal-content .text{
    text-align:center;
    vertical-align: middle;
    padding:20px;
    height:100%;
    min-height:100%;
    margin-top:50px;
}

.modal-content .button{
    clear:both;
    width:200px;
    margin-top:50px;
}
.popover-wrapper{
    margin:auto;
    text-align:center !important;
    overflow:hidden;
    height:100%;
}
.popover-share{
    width:90% !important;
    overflow:hidden;
    max-width:400px;
    min-height:550px;
    margin:auto !important;
    border-radius:15px;
    text-align:center;
    position:relative;
    
}
.popover-share h1{
    font-family:'Exo2Semibold', sans-serif;
    color:#A29F97;
    font-size:1.3em;
    margin-top:44px;
}
.popover-share h2{
    font-family:'Exo2Medium', sans-serif;
    color:#6E6A67;
    margin-top:22px;
    font-size:1em;
}
.popover-share #share-buttons{
    width:87%;
    text-align:center;
    margin:auto;
    margin-top:59px;
    margin-bottom:25px;
}
.popover-share #share-buttons .button{
    clear:both;
    display:block;
    margin:auto;
    margin-bottom:10px;
    text-align:left;
    padding-left:45px;
    font-family:'Exo2Medium', sans-serif;
    background-color:#f4f2ef;
    border:none;
    background-position:20px 50%;
    background-repeat:no-repeat;
}
.popover-share #share-buttons .button.activated{    
    background-color:#aaa;
}

.popover-share .facebook{
    color:#5F6A9E;
    background-image:url('../img/social-facebook.png');
}
.popover-share .twitter{
    color:#4BA1C9;
    background-image:url('../img/social-twitter.png');
}
.popover-share .google{
    color:#E92E21;
    background-image:url('../img/social-google.png');
}
.popover-share .instagram{
    color:#496689;
    background-image:url('../img/social-instagram.png');
}
.popover-share .linkedin{
    color:#2E66A0;
    background-image:url('../img/social-linkedin.png');
}

/*Iphone 4s*/

@media screen and (device-aspect-ratio: 2/3){
  .menu-div{
    padding: 10px 25px !important;
    display: block;
    overflow: hidden;
    margin-bottom: 3px;
  }
  .menu-div img{
    float: left;
    width: 42px !important;
  }
  .menu-div h2{
    float: left;
    margin: 0px;
    margin-left: 15px;
    color: #fff;
    font-weight: bold;
    margin-top: 13px !important;
  }
  .scroll-view{
    height:490px !important;
  }
}

/*Iphone 4s*/

/*Iphone 5*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .menu-div{
    padding: 10px 25px;
    display: block;
    overflow: hidden;
    margin-bottom: 3px;
  }
  .menu-div img{
    float: left;
    width: 55px;
  }
  .menu-div h2{
    float: left;
    margin: 0px;
    margin-left: 15px;
    color: #fff;
    font-weight: bold;
    margin-top: 18px;
  }
  .media-item{
    margin: 45px auto;
  }
  .scroll-view{
    height:568px !important;
  }
}

/*Iphone 5*/

/*Iphone 6*/


@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)  {
  .menu-div{
    padding: 10px 25px;
    display: block;
    overflow: hidden;
    margin-bottom: 3px;
  }
  .menu-div img{
    float: left;
    width: 65px;
  }
  .menu-div h2{
    float: left;
    margin: 0px;
    margin-left: 15px;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
  }
  .media-item{
    margin: 45px auto;
    width: 75%;
  }
  .scroll-view{
    height:667px !important;
  }


}

/*Iphone 6*/

/*Iphone 6 plus*/

@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  .menu-div{
    padding: 15px 25px;
    display: block;
    overflow: hidden;
    margin-bottom: 3px;
  }
  .menu-div img{
    float: left;
    width: 70px;
  }
  .menu-div h2{
    float: left;
    margin: 0px;
    margin-left: 15px;
    color: #fff;
    font-weight: bold;
    margin-top: 22px;
    font-size: 22px;
  }
  .media-item{
    margin: 45px auto;
    width: 75%;
  }
  .scroll-view{
    height:736px !important;
  }

}



/*Iphone 6 plus*/



/* Empty. Add your own CSS if you like */
.menu-content {
    height:100%;
    background-color:#eee;
}
.menu-header {
    height:27vh;
    width:100%;
    text-align:center;
}
.menu-header img{
    margin-top:15%;
    max-width:75%;
}

.menu-header h1{
    font-size:7vmin;
    color:cadetblue;
    letter-spacing:0.5vmin;
}
.menu-footer {
    height:auto;
    min-height:77px;
    padding:15px;
    margin-top:20vh;
}

.menu-footer .button {
    margin-top:5px;
    margin-left:20%;
    background-color:transparent;
    border-color:cadetblue;
    max-width:60%;
    color:cadetblue;
    font-weight:600;
    letter-spacing:0.5vmin;
    font-size:4vmin;
}

.nospace {
    padding:0px;
    margin:0px;
}

.topdiv {
    height:35vh;
    width:100%;
    background-image: url(../img/directive_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.leftmargin {margin-left: 29vmin;}

.full-cover {
    width:100%;
    height:100%;
}

.middiv {
    height:30vh;
    width:100%;
    background: #fff;
}

.middiv > div > h3 {
    font-size:7vmin;
    color:cadetblue;
    font-weight:400;
}
.middiv > div > p {
    font-size:3.5vmin;
}

.button-custom {
    background-color:transparent;
    border-color:cadetblue;
    border-radius:4px;
    color:cadetblue;
    font-size:3.5vmin;
}
.bottomdiv {
    height:25vh;
    width:100%;
}
.bottomdiv > div{
    margin-left:5vw;
}

.lgCircle {
    display:block;
    border:1vmin solid #fff;
    height:40vmin;
    min-height:40vmin;
    max-width:40vmin;
    width:40vmin;
    border-radius:20vmin;
    text-align:center;
}
.lgCircle > h3 {
    margin-top:10vmin;
    font-size:12vmin;
    color:#fff;
}
.lgCircle > p {
    -moz-text-decoration-line: overline; 
    text-decoration: overline;
    font-size:4vmin;
    color:#fff;
}

.smCircle {
    border:0.5vmin solid cadetblue;
    height:22vmin;
    min-height:22vmin;
    width:22vmin;
    max-width:22vmin;
    border-radius:11vmin;
    text-align:center;
}
.smCircle > h3{
    margin-top:3vmin;
    font-size:4vmin;
    color:cadetblue;
    line-height: 4vmin;
}
.smCircle > p {
    -moz-text-decoration: overline;
    text-decoration: overline;
    margin-top:3vmin;
    line-height: 3vmin;
    font-size:3vmin;
    color: cadetblue;
}
